test:
  host: 192.168.45.1
  port: 22
  path: /var/www/app
  local-path: ~/app
dev
  host: 192.168.90.150
  port: 6666
  path: /var/www/app
  local-path: ~/app
dgo:
  host: 136.68.47.92
  port: 22
  path: ~
  password: yunshan3302
